.g-bar {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.m-wrapper {
    border: 1px solid #007fff;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    color: #007fff;
    margin-top: 10px;
}