.g-navwrapper {
    /* position: fixed;
    top: 0; */
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.m-nav {
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 1.33rem;
}

.right {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    width: 100%;
}

.m-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    width: 80px;
}

.m-btn {
    display: flex;
    align-items: center;
}

.m-logo {
    display: flex;
    align-items: center;
}

.m-logo img {
    height: 40px;
}