.g-contentwrapper {
    background: #F4F5F5;
    width: 100%;
    padding: 20px 0;
}

.m-content {
    max-width: 960px;
    /* background-color: #fff;  */
    /* height: 200vh; */
    margin: 0 auto;
    /* padding: 24px; */
}