.m-slide {
  text-align: center;
  padding-top: 30px;
  height: 160px;
  width: 100%;
  min-width: 320px;
  /* background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%); */
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
  background-image: linear-gradient(to top, #9BC3FE 0%, #6AB6F7 100%);
  /* background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%); */
  overflow: hidden;
  color: #fff;
}

.ant-carousel .slick-slide h1 {
  color: #fff;
}

.center {
  justify-content: center;
}

.space {
  justify-content: space-between;
}

.bold {
  font-weight: 550;
}

.m-line {
  display: flex;
}

.m-line p{
  margin-bottom: 0;
}

.m-link {
  margin-left: 10px;
  text-decoration: underline;
}

.m-btn {
  background-color: #fff;
  color: #247FE6;
  border: 1px solid #247FE6;
  border-radius: 3px;
  width: 45px;
  display: flex;
  justify-content: center;
  height: 28px;
  margin-left: 15px;
  font-size: 14px;
}

.m-data {
  /* background-color: #6f86d6; */
  margin-top: 15px;
}

.m-title {
  color: #555;
  padding-left: 5px;
}

.m-intro {
  line-height: 30px;
  padding-left: 15px;
  color: #666;
}

.m-card {
  background-color: #fff;
  background-origin: 0 1px 2px 0 rgba(0,0,0,.05);
  border-radius: 2px;
  padding: 20px 30px;
  width: 32%;
}

.m-info {
  margin-left: 25px; 
}

.m-info h3 {
  margin-bottom: -3px;
  color: #777;
}

.m-info span {
  font-size: 24px;
  font-weight: 650;
}

.interval {
  margin-top: 10px;
}

.doubleinterval {
  margin-top: 15px;
}

.inline {
  display: inline-block;
}

.middle {
  width: 49%;
}

.border {
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

.m-chart {
  background-color: #fff;
  background-origin: 0 1px 2px 0 rgba(0,0,0,.05);
  border-radius: 2px;
  padding: 10px 30px 20px 30px;
  width: 66%;
  position: relative;
}

.m-chart .z-title {
  position: absolute;
  top: 20px;
}

.ant-tabs-nav.ant-tabs-nav-animated {
  float: right;
}

.m-grade {
  color: #fff;
  height: 68px;
  width: 68px;
  border-radius: 34px;
  margin: 30px auto;
  text-align: center;
  line-height: 68px;
  font-size: 29px;
  font-weight: 600;
}

.normal {
  background-color: #4ACBCB;
}

.normal-font {
  color: #4ACBCB;
  font-size: 20px;
}

.warn {
  background-color: #FF6654;
}

.warn-font {
  color: #FF6654;
  font-size: 20px;
}

.z-title {
  font-size: 16px;
}

.z-title span{
  font-size: 20px;
  padding-right: 5px;
}

.m-tip p {
  padding-bottom: 10px;
}

.m-tip .interval {
  margin-top: 0;
  padding: 10px 0;
}

.m-sum {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  width: 45px;
  margin-right: 15px;
}

.m-sum p {
  padding-bottom: 0;
}

.m-unit {
  font-size: 14px;
}

.m-item p{
  margin-top: -6px;
}

.m-change {
  margin-left: auto;
}

.green {
  color: #06D076;
}

.red {
  color: #F67E53;
}

.m-help {
  color: #999;
  font-size: 12px;
}

@media screen and (max-width: 833px) {
  .m-card {
    width: 100%;
  }

  .m-chart {
    width: 100%;
  }
}

@media screen and (max-width: 793px) {
  .m-card {
    width: 100%;
    padding: 10px 30px;
    margin-top: 10px;
  }

  .m-info span {
    font-size: 20px;
  }

  .column {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  .m-item {
    max-width: 182px;
  }
}